.clear:after{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.interest_body{
	width: 100%;
	height: 20rem;	
	background: #EEEEEE;
}
.interest_ {
	width: 100%;
	height: 1.5rem;
	background: #f8f8f8;
	border-bottom: 1px solid #CBCBCB;
}
.interest_ :first-child{
	width: 20%;
	height: 100%;
	float: left;
}
.interest_ :first-child i{
	width: 100%;
	height: 100%;
	font-size: 0.7rem;
	line-height: 1.5rem;
	text-align: center;

}

.interest_ :nth-child(2){
	width: 60%;
	height: 100%;
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.5rem;
	float: left;
}
.interest_ :last-child{
	width: 20%;
	height: 100%;
	font-size: 0.5rem;
	line-height: 1.5rem;
	float: left;
	text-align: center;
	color: #098BC9;
}

.interest_logo{
	width: 100%;
	margin: auto;
}
.interest_ul{
	width: 100%;
	margin-top: 0.1rem;
}
.interest_ul li{
	width: 24%;
	height: 3.5rem;
	background: #fff;
	text-align: center;
	float: left;
	margin-left: 0.1rem;
	margin-bottom: 0.1rem;
	position: relative;
	border:none;
}
.interest_ul li .logo_a{
	font-size: 1.5rem;
}
.interest_ul li .in_span{
	color: #BFEAFF;
	position: absolute;
	right: 0;
	top: 0;
}
.interest_ul li .in_duigou{
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    display: none;
    
}
/*.interest_ul li .in_span2{
	color: #fff;
	position: absolute;
	right: 0.1rem;
	top: 0;
	display: none;
}*/
.interest_ul li:nth-child(1) .logo_a{
	color: #D473DA;
}
.interest_ul li:nth-child(2) .logo_a{
	color: #6EACE6;
}
.interest_ul li:nth-child(3) .logo_a{
	color: #68CDD9;
}
.interest_ul li:nth-child(4) .logo_a{
	color: #EEBF3F;
}
.interest_ul li:nth-child(5) .logo_a{
	color: #6EACE6;
}
.interest_ul li:nth-child(6) .logo_a{
	color: #6EACE6;
}
.interest_ul li:nth-child(7) .logo_a{
	color: #E5D06E;
}
.interest_ul li:nth-child(8) .logo_a{
	color: #6E87E5;
}
.interest_ul li:nth-child(9) .logo_a{
	color: #F65F5F;
}
.interest_ul li:nth-child(10) .logo_a{
	color: #EEBF3F;
}
.interest_ul li:nth-child(11) .logo_a{
	color: #6EACE6;
}
.interest_ul li:nth-child(12) .logo_a{
	color: #68CDD9;
}
.interest_ul li:nth-child(13) .logo_a{
	color: #6E87E5;
}
.interest_ul li:nth-child(14) .logo_a{
	color: #9FDD5E;
}