<link rel="stylesheet" type="text/css" href="./css/interest.css"/>

<div class="interest_body">
	<div class="interest_">
		<div><a href="#/home"><i class="iconfont">&#xe616;</i></a></div>
		<div>选择您感兴趣的栏目</div>
		<div>完成</div>
	</div>
	
	<div class="interest_logo">
		<ul class="interest_ul">
			<li class="oli_1"><i class="iconfont logo_a icon-naozhongq"></i><p>服药提醒</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span ><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-jiankang-copyq"></i><p>微健康</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-jxqq"></i><p>BMI计算</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-huocheq"></i><p>物流查询</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-scanq"></i><p>扫一扫</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-yaoq"></i><p>快速找药</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-huiq"></i><p>促销汇</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-iconfontfenxiangfuzhiq"></i><p>分享有礼</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-youhuiquan-copyq"></i><p>优惠券</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-xingxingq"></i><p>收藏夹</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-zhubiguanliq"></i><p>积分兑换</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-tucaoq"></i><p>消息中心</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-jiankangq"></i><p>血压分析</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			<li class="oli_1"><i class="iconfont logo_a icon-cnshuq"></i><p>健康科普</p><span class="in_span"><i class="iconfont icon-xinjian"></i></span><img class="in_duigou" src="img/2.png"/></li>
			
		</ul>
	</div>
	
	
</div>
