<link rel="stylesheet" type="text/css" href="./css/loginh.css"/>
<div class="login_box">
	<!--头部-->
	<div class="login_header">
		<p>
			<span class="login_header_left  myback"><a href="#/search">返回</a></span>
			<span class="login_header_midlle">用户登录</span>
			<span class="login_header_right  myshouye"></span>
		</p>
	</div>
	<!--登录-->
	<div class="login_denglu">
		<form action="" method="get">
			<span class="login_span1   myuser"></span>
			<div class="login_div1">
				<input type="text" name="user" id="" value="" placeholder="用户名/手机/邮箱"/>
			</div>
			<span class="login_span2 mypswd"></span>
			<div class="login_div2">
				<input type="text" name="" id="" value="" placeholder="密码"/>
			</div>
			<div class="login_div3">
				<input type="submit" name="" id="" value="登录" />
			</div>
		</form>
	</div>
	<div class="login_zhuce">
		<p>
			<a class="login_zhuce1" href="#/zhuce">立即注册>></a>
			<a class="login_zhuce2" href="###">忘记密码?</a>
		</p>
	</div>
	<div class="login_huo">
		    <p>使用合作伙伴账号登录 :</p>
		    <div class="coo_site clearfix">
	        <a href="/Login/TaobaoLogin?ReturnUrl=http://m.360kad.com/Login/FindPassword?ReturnUrl=http://m.360kad.com/User/Index">
	            <img src="http://res2.360kad.com/theme/mobile/img/taobao.png">
	        </a> <a href="/Login/SinaLogin?ReturnUrl=http://m.360kad.com/Login/FindPassword?ReturnUrl=http://m.360kad.com/User/Index">
	            <img src="http://res1.360kad.com/theme/mobile/img/xinlang.png">
	        </a> <a href="/Login/QzoneLogin?ReturnUrl=http://m.360kad.com/Login/FindPassword?ReturnUrl=http://m.360kad.com/User/Index">
	            <img src="http://res1.360kad.com/theme/mobile/img/qq.png">
	        </a>
	        <a href="/Login/EbaolifeLogin?ReturnUrl=http://m.360kad.com/Login/FindPassword?ReturnUrl=http://m.360kad.com/User/Index">
	            <img src="http://res3.360kad.com/theme/mobile/img/ebaolife.png">
	        </a>
   		</div>
    </div>
      <!--底部-->
    <div class="search_footer">
		<p class="userloginf">
			<span class="search_denglu">
				<a href="###">登录</a>
			</span>
			<span class="search_zhu">
				<a href="#/login2_box">注册</a>
			</span>
		</p>
		<a href="###" class=" search_first "><span class="pa"></span></a>
		<div class="fot_btn">
			<ul>
				<li><a href="http://m.360kad.com/Medication/">用药问答</a><span>|</span></li>
				<li>心愿单<span>|</span></li>
				<li>帮助<span>|</span></li>
				<li>反馈<span>|</span></li>
				<li>关于康爱多</li>
			</ul>
		</div>
		<div class="search_phone">
			<img src="img/search_phone.jpg" />
			<a href="http://m.360kad.com/promotion/m_weixin_introduce.shtml"><img src="img/search_wx.jpg" /></a>
		</div>
		<p class="search_footer_p">下载iphone客户端</p>
		<ul class="search_footer_mess">
			<li>
				<span>正</span>
				正品保障
			</li>
			<li>
				<span>隐</span>
				隐私配送
			</li>
			<li>
				<span>专</span>
				专业药师
			</li>
			<li>
				<span>付</span>
				货到付款
			</li>
		</ul>
		<footer>
			<p class="search_footer_banquan">copyright ©2010-2016 康爱多网上药店 版权所有</p>
		</footer>
	</div>
</div>