<link rel="stylesheet" type="text/css" href="./css/Vip.css"/>

<header class="All-head" >
	
	<h1><img src="./img/小于号.svg"  class="imagg1"/>App新会员专享<img src="./img/省略号.svg" class="imga" ng-click="dis()"  /></h1>
	
	<ul class="head-list" ng-show="myVar2" ng-click="dis2()" >
		<li><a href="#"><img src="./img/搜索.svg"/><span>搜索</span></a></li>
		<li><a href="#"><img src="./img/首页-首页.svg"/><span>首页</span></a></li>
		<li><a href="#"><img src="./img/消息.svg"/><span>消息</span></a></li>
	</ul>
</header>
<div class="Vip-banner">
	<img src="./img/show1_01.jpg" alt="App新会员专享"/>
	
</div>

<div class="Vip-list">
	<img src="./img/show1_02.jpg"/>
	<!--http://m.360kad.com/zhuanti/app_newuser_quan.shtml-->
		<p><a href="#" >新人礼券</a>
		<a href="#" >签到赚积分</a>
		<a href="#" >超值秒杀</a>
		<a href="#" >品牌特卖</a>
		</p>
	</div>
	
<div class="Vip-page">
	<h3 class="til">健康<br/>头条</h3>
	
	<div class="container">
 <div class="li-box">
 <ul>
 <li>本活动适用于“康爱多掌上药店”客户端；</li>
 <li>好友通过您分享的邀请页面输入手机号，可获得10元现金券；</li>
 <li>好友首次成功消费现金券后（好友确认收货后），您可获得10元现金券，记得让好友去订单中心点确认收货哦；</li>
 <li>分享活动不设次数限制，但每位好友只能领取1次现金券；</li>
 <li>所有赠送的现金券在领取之日起15天内有效；</li>
 <li>本活动最终解释权归康爱多所有，非正常途径获得的奖励无效哦。</li>
 </ul>
 </div>
 </div>
	
</div>

<a href="#" class="Vip-banner2">
	<img src="./img/show2_01.jpg"/>
</a>

<div class="Vip-main">
	<div class="Vip-main-cont">
		<h2></h2>
		<p>
			<a href="#" class="a1"></a>
			<a href="#"class="a2"></a>
			<a href="#" class="a3"></a>
			<a href="#" class="a4"></a>
		</p>
	</div>
	<div class="Vip-main-cont bg1">
		<h2></h2>
		<p>
			<a href="#" class="a1"></a>
			<a href="#"class="a2"></a>
			<a href="#" class="a3"></a>
			<a href="#" class="a4"></a>
		</p>
	</div>
	<div class="Vip-main-cont bg2">
		<h2></h2>
		<p>
			<a href="#" class="a1"></a>
			<a href="#"class="a2"></a>
			<a href="#" class="a3"></a>
			<a href="#" class="a4"></a>
		</p>
	</div>
</div>

<div class="Vip-footer">
	<a href="#"><img src="./img/show2_08.jpg"/></a>
</div>
