<!--======================跳转注册页===============================-->
<link rel="stylesheet" type="text/css" href="./css/zhuce.css"/>
<div class="login2_box" id="login2_box">
	<div class="login_header">
		<p>
			<span class="login_header_left mytu" ><a href="#/login">返回</a></span>
			<span class="login_header_midlle">用户注册</span>
			<span class="login_header_right shouye"></span>
		</p>
	</div>
	<!---->
	<div class="login2_rest_wrap">
		<table border="0" cellspacing="0" cellpadding="0" class="mytable">
			<tr class="tr_line">
				<td>手机号码 :</td>
				<td colspan="2"><input class="agree"  type="number" name="callhpone" id="callhpone" value="" placeholder="请输入手机号码"/></td>	
			</tr>
			<tr class="tr_line">
				<td>密 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码 :</td>
				<td colspan="2"><input class="agree"  type="password" name="callhpone" id="callhpone" value="" placeholder="请设置6位数以上的密码"/></td>	
			</tr>
			<tr class="tr_line">
				<td>验&nbsp;&nbsp;证&nbsp;&nbsp;码 :</td>
				<td><input class="agree"  type="text" name="callhpone" id="callhpone" value="" placeholder="请输入验证码"/></td>	
				<td class="pic_td"></td>
			</tr>
			<tr class="tr_line">
				<td> 短信验证 :</td>
				<td><input class="agree"  type="text" name="callhpone" id="callhpone" value="" placeholder="请输入短信验证码"/></td>	
				<td class="last_td"> <a href=""></a>获取短信验证 </td>
			</tr>
		</table>
		<div class="zhuce-agree">
			<input type="checkbox" name="" id="agree1" value=""/> <label for="agree1">&nbsp;<a href="http://m.360kad.com/zhuanti/app_kad_zcxy.shtml">同意康爱多网上药店协议</a></label>
		</div>
		<div class="zhuce_denglu">
			<div class="zhuce_denglu1">
				注册
			</div>
		</div>
	</div>
</div>