
<div class="car">
	<div class="head">
		<span>购物车</span>
		<a href="javascript:void(0)">编辑</a>
	</div>
	<div class="Settlement ">
		<p> 
			<span><img src="img/v.png" ng-click="changeImg()"/></span>
			<span>康爱多</span>	
		</p>
		<ul>{{numberFun()}}
			<li>
				<a href="javascript:void(0)">
					<span><img src="img/v.png"/></span>
					<img src="img/1.jpg"/>
					<div>
						<p>桂附理中丸理气顺畅乃居家旅行必备产品 </p>
						<p>￥<span class="price">19.8</span></p>
						<p>
							<span class="subtract">&minus;</span>
							<span class="num">1</span>
							<span class="add">+</span>
						</p>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span><img src="img/v.png"/></span>
					<img src="img/2.jpg"/>
					<div>
						<p>补气益气丸</p>
						<p>￥<span class="price">6.8</span></p>
						<p>
							<span class="subtract">&minus;</span>
							<span class="num">2</span>
							<span class="add">+</span>
						</p>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span><img src="img/v.png"/></span>
					<img src="img/3.jpg"/>
					<div>
						<p>东阿阿胶</p>
						<p>￥<span class="price">9.8</span></p>
						<p>
							<span class="subtract">&minus;</span>
							<span class="num">2</span>
							<span class="add">+</span>
						</p>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span><img src="img/v.png"/></span>
					<img src="img/4.jpg"/>
					<div>
						<p>中国劲酒</p>
						<p>￥<span class="price">99.8</span></p>
						<p>
							<span class="subtract">&minus;</span>
							<span class="num">1</span>
							<span class="add">+</span>
						</p>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span><img src="img/v.png"/></span>
					<img src="img/5.jpg"/>
					<div>
						<p>碳酸钙ABCD片</p>
						<p>￥<span class="price">32.8</span></p>
						<p>
							<span class="subtract">&minus;</span>
							<span class="num">6</span>
							<span class="add">+</span>
						</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!--提交菜单-->
	<div class="submitIndent">
		<span><img src="img/v.png"/></span>
		<span id="allChecked">全选</span>
		<div>
			<p>
				<span>总计:</span>
				<span>￥<span class="money">169</span></span>
			</p>
			<p>
				<span>节省</span>
				<span>￥0.00</span>
				<span>该订单以包邮</span>
			</p>
		</div>
		<a href="javascript:void(0)">
			立即结算
		</a>
	</div>
</div>