<link rel="stylesheet" type="text/css" href="./css/dianzan.css"/>
<div class="dianzan_body">
	<div class="dianzan_">
		<div><a href="#/mine"><i class="iconfont icon-xiangzuojiankuohaoq"></i></a></div>
		<div>吐槽点赞</div>
		<div>...</div>
	</div>
	
	<div class="dianzan_tab">
		<div class="dianzan_a">
			<a>我要点赞</a>
			<a>我要吐槽</a>
		</div>
		
		<div id="dianzan_wrap">
			<div class="dianzan_zan">
				<img src="img/dianzan.jpg"/>
				
				<textarea id="dianzan_inp" placeholder="好开心!想给我说点什么呢~" ></textarea>
				<a class="dianzan_liuyan" href="#">提交留言</a>
			</div>
			
			<!--吐槽-->
			<div class="dianzan_tucao">
				<img src="img/tucao.jpg"/>
				
				<textarea id="tucao_inp" placeholder="告诉康康吧,康康一定改~" ></textarea>
				<a class="tucao_liuyan" href="#">提交吐槽</a>
				
			</div>
		</div>
	</div>
		
</div>
