<div id="mine_body">
	<div class="mine_shezhi">
		<i class="iconfont icon-shezhiq"></i>
		<span class="mine_cen">个人中心</span>
		<i class="iconfont icon-xinfengq"></i>
	</div>
	<div class="mine_">
		<div class="mine_t">
			<div class="mine_touxiang"><img src="img/q.png" /></div>
			<p class="mine_user">撒旦撒旦撒</p>
			<p class="mine_huiyuan"><span>普通会员</span> | 积分:&nbsp;<span>500</span></p>
		</div>
		
	</div>
	<div class="mine_topminu">
		<div class="mine_l">
			<a><i class="iconfont icon-dingdanq"></i>
				<p>全部订单</p>
			</a>
			<a><i class="iconfont icon-daifukuanq"></i>
				<p>待付款</p>
			</a>
			<a><i class="iconfont icon-daishouhuoq"></i>
				<p>待收货</p>
			</a>
			<a><i class="iconfont icon-tianxie1q"></i>
				<p>待发货</p>
			</a>
			<a><i class="iconfont icon-tuikuanq"></i>
				<p>退款/售后</p>
			</a>
		</div>

	</div>

	<ul class="mine_ul">
		<li><i class="iconfont ico1 icon-huocheq"></i><span>最新物流信息</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
		<li><i class="iconfont ico2 icon-dunpaiq"></i><span>我的收藏</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
		<li><i class="iconfont ico3 icon-yuanyouhuiquanq"></i><span>我的优惠券</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
	</ul>
	<ul class="mine_ul2">
		<li><i class="iconfont ico5 icon-jifenq"></i><span>我的积分</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
		<li><i class="iconfont ico6 icon-shangchengq"></i><span>积分商城</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
	</ul>
	<ul class="mine_ul3">
		<li><i class="iconfont ico5 icon-zujiq"></i><span>我的足迹</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
		<li><a href="#/dianzan"><i class="iconfont ico6 icon-tucaoq"></i><span>我要点赞/吐槽</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></a></li>
	</ul>

	<ul class="mine_ul4">
		<li><i class="iconfont ico1 icon-shezhiq"></i><span>安全设置</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
		<li><i class="iconfont ico2 icon-kefu1q"></i><span>客服中心</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></li>
		<li><a href="#/Share"><i class="iconfont ico3 icon-iconfontfenxiangfuzhiq"></i><span>分享有礼</span><i class="iconfont ico4 icon-xiangyoujiankuohaoq"></i></a></li>
	</ul>
</div>