@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%; }

body {
  font-size: 62.5%; }

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  #app .header {
    width: 100%;
    height: 12rem;
    background: url(../img/01_03.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative; }
    #app .header .wu {
      width: 100%;
      height: 42rem;
      position: absolute;
      z-index: 1001;
      animation: zoomInDown 2s; }
      #app .header .wu .div1 {
        width: 100%;
        position: absolute;
        top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #app .header .wu .div1 p {
          font-size: 1.5rem;
          font-weight: bolder;
          font-family: "微软雅黑"; }
        #app .header .wu .div1 .p1 {
          color: white; }
        #app .header .wu .div1 .p2 {
          width: 70%;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          #app .header .wu .div1 .p2 span:first-of-type {
            margin-left: 0; }
          #app .header .wu .div1 .p2 span {
            font-size: 2rem;
            color: gold;
            animation: rollIn 2s infinite; }
          #app .header .wu .div1 .p2 span:hover {
            animation: rollOut 2s both; }
      #app .header .wu .div2 {
        width: 100%;
        position: absolute;
        top: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #app .header .wu .div2 p {
          width: 80%;
          display: flex;
          justify-content: center;
          font-size: 1rem;
          font-family: "微软雅黑";
          font-weight: bolder;
          color: white;
          animation: bounce 2s infinite; }
        #app .header .wu .div2 p:hover {
          animation: rubberBand 2s infinite; }
        #app .header .wu .div2 .d-d1 {
          width: 70%;
          display: flex;
          flex-direction: column; }
          #app .header .wu .div2 .d-d1 span:first-of-type {
            margin-top: 1rem; }
          #app .header .wu .div2 .d-d1 span {
            font-size: 0.9rem;
            font-family: "微软雅黑";
            color: white;
            margin-top: 0.8rem;
            display: flex;
            align-items: center; }
            #app .header .wu .div2 .d-d1 span b {
              width: 1.4rem;
              height: 1.1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 0.5rem;
              background: white;
              animation: swing 2s infinite; }
            #app .header .wu .div2 .d-d1 span b:hover {
              animation: wobble 2s infinite; }
            #app .header .wu .div2 .d-d1 span .span {
              color: orangered; }
            #app .header .wu .div2 .d-d1 span .span1 {
              color: green; }
      #app .header .wu .div3 {
        width: 100%;
        position: absolute;
        top: 22rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #app .header .wu .div3 p {
          width: 85%;
          display: flex;
          justify-content: center;
          font-size: 1rem;
          font-family: "微软雅黑";
          font-weight: bolder;
          color: white;
          animation: bounce 2s infinite; }
        #app .header .wu .div3 p:hover {
          animation: rubberBand 2s infinite; }
        #app .header .wu .div3 .d-d1 {
          width: 70%;
          display: flex;
          margin-top: 0.8rem;
          flex-direction: column;
          font-size: 1rem;
          color: white;
          font-family: "微软雅黑"; }
      #app .header .wu .w-xian {
        width: 100%;
        height: 100%;
        background: #504438;
        opacity: 0.9;
        z-index: 1001; }
      #app .header .wu a {
        font-size: 3rem;
        font-family: "微软雅黑";
        color: gainsboro;
        position: absolute;
        bottom: 2.5rem;
        left: 45%;
        animation: flipInX 2s infinite; }
      #app .header .wu a:hover {
        animation: wobble 2s infinite; }
    #app .header .yin {
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.8; }
    #app .header .img {
      width: 23%;
      position: absolute;
      z-index: 1000;
      top: 15%;
      left: 6%; }
    #app .header .h-con {
      width: 66%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 15%;
      left: 32%; }
      #app .header .h-con p {
        display: flex;
        align-items: center;
        color: gainsboro;
        font-size: 0.8rem;
        font-weight: bolder;
        margin-top: 0.8rem; }
        #app .header .h-con p span {
          font-size: 0.9rem;
          color: white;
          font-weight: bolder; }
      #app .header .h-con p:first-of-type {
        margin: 0.2rem; }
        #app .header .h-con p:first-of-type span:first-of-type {
          width: 21%;
          height: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background: red;
          margin: 0;
          font-size: 0.8rem; }
        #app .header .h-con p:first-of-type span {
          font-size: 0.9rem;
          margin-left: 0.5rem; }
      #app .header .h-con p:last-of-type span:first-of-type {
        width: 12%;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        color: red;
        font-size: 0.8rem; }
      #app .header .h-con p:last-of-type span {
        font-size: 0.8rem;
        color: gainsboro; }
      #app .header .h-con p:last-of-type span:nth-of-type(2) {
        margin-left: 0.3rem; }
      #app .header .h-con p:last-of-type span:last-of-type {
        width: 21%;
        height: 1.4rem;
        border-radius: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        opacity: 0.5;
        color: white;
        font-size: 0.8rem;
        margin-left: 20%; }
  #app .h-bottom {
    width: 100%;
    height: 2.5rem;
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 79%; }
  #app .h-b {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    top: 79%; }
    #app .h-b p {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      #app .h-b p span:first-of-type {
        width: 12%;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        color: black;
        font-size: 0.8rem;
        font-weight: bolder; }
      #app .h-b p span {
        font-size: 0.8rem;
        color: gainsboro; }
      #app .h-b p .a {
        width: 18rem;
        font-size: 0.8rem;
        color: gainsboro; }
      #app .h-b p span:last-of-type {
        color: gainsboro;
        font-size: 0.8rem; }
      #app .h-b p marquee {
        margin: 0; }
  #app div {
    font-size: 2rem; }
  #app .c {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #app .c .c-d1 {
      width: 95%;
      height: 4.5rem;
      border-bottom: 1px solid gainsboro;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #app .c .c-d1 p {
        height: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #app .c .c-d1 p span {
          font-size: 1rem;
          font-family: "微软雅黑"; }
        #app .c .c-d1 p span:last-of-type {
          font-size: 0.8rem;
          color: orange; }
          #app .c .c-d1 p span:last-of-type span {
            color: darkgray; }
      #app .c .c-d1 p:last-of-type {
        width: 15%;
        justify-content: center;
        align-items: center; }
        #app .c .c-d1 p:last-of-type span:first-of-type {
          color: red; }
        #app .c .c-d1 p:last-of-type .img2:hover {
          animation: bounce 2s infinite; }
        #app .c .c-d1 p:last-of-type .img2 {
          animation: shake 2s infinite; }
    #app .c .c-d2 {
      width: 100%;
      height: 4rem;
      display: flex; }
      #app .c .c-d2 p {
        -webkit-flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #app .c .c-d2 p span {
          font-size: 0.8rem;
          font-weight: bold;
          color: gray; }
        #app .c .c-d2 p span:last-of-type {
          font-size: 1.2rem;
          font-weight: bold;
          color: gray;
          margin-top: 0.2rem; }
    #app .c h1 {
      width: 100%;
      height: 1.5rem;
      background: gainsboro; }
    #app .c .c-d3 {
      width: 100%;
      height: 8rem;
      display: flex;
      justify-content: center; }
      #app .c .c-d3 p {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #app .c .c-d3 p b {
          font-size: 1rem; }
        #app .c .c-d3 p span {
          font-size: 0.8rem;
          color: red;
          text-indent: 1.4rem;
          line-height: 1.2rem; }
    #app .c .c-d4 {
      width: 85%;
      display: flex;
      flex-direction: column; }
      #app .c .c-d4 span:first-of-type {
        margin-top: 1rem; }
        #app .c .c-d4 span:first-of-type b {
          background: red; }
      #app .c .c-d4 span:nth-of-type(4) b, #app .c .c-d4 span:nth-of-type(5) b {
        background: green; }
      #app .c .c-d4 span:nth-of-type(6) b, #app .c .c-d4 span:nth-of-type(7) b {
        border: 1px solid #8B008B;
        background: white;
        color: #8B008B;
        border-radius: 0.1rem; }
      #app .c .c-d4 span {
        height: 1.6rem;
        font-size: 0.9rem;
        font-family: "微软雅黑";
        color: gray;
        margin-top: 0.8rem;
        display: flex;
        align-items: center;
        border-top: 1px solid gainsboro; }
        #app .c .c-d4 span b {
          width: 1.3rem;
          height: 1.1rem;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0.5rem;
          color: white;
          background: dodgerblue;
          animation: tada 2s infinite; }
        #app .c .c-d4 span b:hover {
          animation: bounceIn 2s infinite; }
    #app .c .c-d5 {
      width: 95%;
      display: flex;
      flex-direction: column; }
      #app .c .c-d5 p {
        width: 100%;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        margin-top: 0.8rem; }
        #app .c .c-d5 p img {
          width: 31%;
          height: 50%;
          margin-bottom: 0.8rem; }
      #app .c .c-d5 .p {
        width: 100%;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        margin-top: 0.8rem;
        overflow: auto; }
        #app .c .c-d5 .p .p1 {
          width: 200%; }
          #app .c .c-d5 .p .p1 img {
            width: 30%;
            height: 70%;
            margin-left: 0.8rem;
            margin-bottom: 0.8rem; }
    #app .c .c-d6 {
      width: 95%;
      display: flex;
      flex-direction: column; }
      #app .c .c-d6 p {
        width: 100%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0.8rem; }
        #app .c .c-d6 p span {
          font-size: 0.9rem;
          color: gray;
          font-family: "微软雅黑";
          margin-top: 0.5rem; }
    #app .c .aaaa {
      margin-bottom: 6rem; }
  #app .nav {
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid gainsboro;
    display: flex; }
    #app .nav a {
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-flex: 1;
      font-size: 1rem;
      font-weight: bolder;
      color: gray;
      text-decoration: none; }
    #app .nav a.router-link-active {
      color: red; }
  #app .a {
    width: 100%;
    display: flex;
    margin-bottom: 4rem; }
    #app .a .aa {
      width: 28%;
      display: flex;
      flex-direction: column; }
      #app .a .aa a {
        width: 100%;
        height: 3.7rem;
        display: flex;
        border-right: 1px solid lightgray;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        color: gray;
        border-bottom: 1px solid gainsboro;
        text-decoration: none;
        font-weight: bolder; }
      #app .a .aa a.router-link-active {
        background: white;
        color: black;
        border: 0; }
    #app .a .bb {
      width: 72%;
      display: flex;
      flex-direction: column; }
      #app .a .bb div {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center; }
      #app .a .bb .bbb {
        width: 100%;
        display: flex;
        flex-direction: column; }
        #app .a .bb .bbb .b-same:first-of-type .same p span:last-of-type img:first-of-type {
          margin-left: 1.9rem; }
        #app .a .bb .bbb .b-same {
          width: 100%;
          display: flex;
          flex-direction: column; }
          #app .a .bb .bbb .b-same h1 {
            width: 100%;
            height: 2rem;
            background: ghostwhite;
            display: flex;
            align-items: center; }
            #app .a .bb .bbb .b-same h1 span {
              color: darkgray;
              font-size: 0.9rem;
              margin-left: 0.5rem; }
          #app .a .bb .bbb .b-same .same {
            width: 100%;
            display: flex; }
            #app .a .bb .bbb .b-same .same img {
              width: 25%;
              height: 50%;
              margin-left: 0.5rem;
              margin-top: 1rem;
              margin-bottom: 1rem; }
            #app .a .bb .bbb .b-same .same img:hover {
              animation: rubberBand 2s; }
            #app .a .bb .bbb .b-same .same p {
              width: 72%;
              margin-left: 0.3rem;
              display: flex;
              flex-direction: column; }
              #app .a .bb .bbb .b-same .same p span:first-of-type {
                margin-top: 0.8rem;
                font-size: 0.9rem; }
              #app .a .bb .bbb .b-same .same p span {
                font-size: 0.8rem;
                margin-top: 0.1rem; }
              #app .a .bb .bbb .b-same .same p span:last-of-type {
                width: 72%;
                display: flex;
                align-items: center; }
                #app .a .bb .bbb .b-same .same p span:last-of-type span:first-of-type {
                  margin: 0;
                  color: red;
                  font-size: 1rem; }
                #app .a .bb .bbb .b-same .same p span:last-of-type img {
                  width: 15%; }
                #app .a .bb .bbb .b-same .same p span:last-of-type img:first-of-type {
                  margin-left: 40%; }
                #app .a .bb .bbb .b-same .same p span:last-of-type span:nth-of-type(2) {
                  margin-left: 0.2rem;
                  text-decoration: line-through; }
                #app .a .bb .bbb .b-same .same p span:last-of-type span:last-of-type {
                  margin-left: 0.3rem;
                  display: flex;
                  justify-content: center;
                  margin-top: 0; }
  #app .footer {
    width: 100%;
    height: 3.8rem;
    background: #141c27;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center; }
    #app .footer a {
      width: 15%;
      text-decoration: none; }
      #app .footer a img {
        width: 100%;
        border-radius: 50%;
        margin-left: 1rem;
        margin-top: -1.5rem; }
      #app .footer a img:hover {
        animation: flipInY 2s; }
    #app .footer span:first-of-type {
      width: 20%;
      height: 40%;
      border-right: 1px solid darkgray;
      font-size: 0.9rem;
      font-weight: bolder;
      color: #75767b;
      display: flex;
      justify-content: center;
      align-items: center; }
    #app .footer span:last-of-type {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      font-weight: bolder;
      color: #75767b; }
    #app .footer p {
      background: #2b343b;
      color: gainsboro;
      font-size: 0.9rem;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border: 0; }
    #app .footer p:active {
      animation: tada 1s; }

/*# sourceMappingURL=index.css.map */
